* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--blackLight);
  padding-top: 4rem;
  --font-first: Helvetica, Arial, sans-serif;
  --font-second: 'Montserrat', geogia;
}

html,
body,
#root {
  min-height: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--blackLight);
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.title {
  font-family: var(--font-second);
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--primary);
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.anime-left {
  opacity: 0;
  transform: translateX(-20px);
  animation: anime-left 0.3s forwards;
}

@keyframes anime-left {
  to {
    opacity: 1;
    transform: initial;
  }
}
