.input__wrapper {
  margin-bottom: 1rem;
}

.input {
  border: 1px solid var(--greyLight);
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background-color: var(--greyLight);
  transition: 0.2s
}

.input:hover, .input:focus {
  outline: none;
  border-color: var(--primary);
  background-color: var(--greyLight);
  box-shadow: 0 0 0 2px var(--second);
}

.input__label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.input__error {
  color: var(--primary);
  font-size: 0.850rem;
  margin-top: 0.25rem;
}